{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bus Board 1.0</h1>
    <hr class="my-4">
    <p> This is a list of buses departing near <b>NW15 1TL</b> </p>
    {% for elementInList in busses %}
        <p>The {{elementInList['line']}}  line goes to {{elementInList['direction']}} at {{elementInList['departuretime']}} </p>
    {% endfor %}
  </div>
  {% endblock %}



<!--  <form class="needs-validation" novalidate method="POST" action="/" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title", name="title" aria-describedby="title_help" placeholder="Title" value='{{ entered_title }}'>
      <div>
        {% if not title_feedback %}
          <small id="title_help" class="form-text text-muted">Enter Task Description</small>
        {% else %}
          <small id="title_help" class="errorText">{{ title_feedback }}</small>
        {% endif %}
      </div>  

      <label for="target_date">Target Completion Date</label>
      <input type="text" class="form-control" id="target_date", name="target_date" aria-describedby="target_date_help" placeholder="dd/mm/yy" value={{ entered_target_date }}>
      <div>
        {% if not target_date_feedback %}
          <small id="target_date_help" class="form-text text-muted">Enter Target Completion Date (dd/mm/yy)</small>
        {% else %}
          <small id="target_date_help" class="errorText">{{ target_date_feedback }}</small>
        {% endif %}
      </div>  
      <input type="submit" value="Add Item">
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table">
        <thead>
          <tr>
            <input type="hidden" id="last_sort_col" value={{ last_sort_col }} >
            <input type="hidden" id="sort_reverse" value={{ sort_reverse }} >
            <th scope="Col"><a href = {{ url_for('index', sort_col="id", last_sort_col=last_sort_col, sort_reverse=sort_reverse) }}>ID 
              {% if last_sort_col == "id" and sort_reverse == False %} &#8595;
              {% elif last_sort_col == "id" and sort_reverse == True %} &#8593;  
              {% endif %} 
            </a></th>
            
            <th scope="Col"><a href = {{ url_for('index', sort_col="title", last_sort_col=last_sort_col, sort_reverse=sort_reverse) }}>Title
              {% if last_sort_col == "title" and sort_reverse == False %} &#8595;  
              {% elif last_sort_col == "title" and sort_reverse == True %} &#8593;  
              {% endif %} 
            </a></th>
            
            
            <th scope="Col"><a href = {{ url_for('index', sort_col="status", last_sort_col=last_sort_col, sort_reverse=sort_reverse) }}>Status
            {% if last_sort_col == "status" and sort_reverse == False %} &#8595;  {% endif %}
            {% if last_sort_col == "status" and sort_reverse == True %}&#8593;  {% endif %} 
            </a></th>

            <th scope="Col"><a href = {{ url_for('index', sort_col="target_date", last_sort_col=last_sort_col, sort_reverse=sort_reverse) }}>Target Date
            {% if last_sort_col == "target_date" and sort_reverse == False %} &#8595;  {% endif %}
            {% if last_sort_col == "target_date" and sort_reverse == True %}&#8593;  {% endif %} 
            </a></th>

          <th scope="Col">Action</th>

          </tr>


          
          
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.title }}</td>   
              <td>{{ item.status }}</td>
              <td>{{ item.target_date }}</td>
              <td>
                  {% if item.status=="Not Started" %}
                    <a href = {{ url_for('update_task', action="start_task", id=item.id, last_sorted_col=last_sort_col, sorted_reversed=sort_reversed)}}>[Start Task]</a>
                  {% endif %}
                  {% if item.status=="Started" %}
                    <a href = {{ url_for('update_task', action="finish_task", id=item.id, last_sorted_col=last_sort_col, sorted_reversed=sort_reversed)}}>[Finish Task]</a>
                  {% endif %}
                  {% if item.status=="Finished" %}
                    <a href = {{ url_for('update_task', action="reset_task", id=item.id, last_sorted_col=last_sort_col, sorted_reversed=sort_reversed)}}>[Reset Task]</a>
                  {% endif %}
                  <a href = {{ url_for('delete_task', id=item.id, last_sorted_col=last_sort_col, sorted_reversed=sort_reversed)}}>[Delete Task]</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>        
    </div>
  </div>
--> 
